.userClass {
  display: flex;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(82, 184, 68);
  border-radius: 50%;
  display: inline-block;
}

.scrollingComponent {
  max-height: 200px;
  overflow-y: scroll;
}
