.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}  

.flex-child:first-child {
    margin-right: 20px;
} 