.carousel {
    
  }

  .slides {
    width: 720px;
    overflow: hidden;
  }
  
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
  }
  
  .carousel-style {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: black;
    color: #fff;
  }
  
  .circle {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #5D5FEF;
    background: #5D5FEF13;
    width: 16px;
    height: 16px;
  }

  .circle.active {
    background: #5D5FEF;
  }
  