.fill {
  position: absolute;
  height: 36px;
  top: -6px;
  left: -8px;
  border-radius: 4px;
}

.fill.blue {
  background: #C5F1FB;
}

.fill.green {
  background: #D4FBCA;
}

.fill.yellow {
  background: #F7F3CF;
}