.loginFormContainer {
	width: min(90vw, 430px);
	margin: auto;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -60%);
	height: 100%;
}

.inputHeading {
	margin-bottom: 5px;
	text-align: left;
}

.loginButton {
	margin-top: 20px;
	width: 100%;
}

label {
	color: black;
}

footer {
	position: fixed;
	left: 50%;
	bottom: 32px;
	transform: translateX(-50%);
}

footer div {
	display: inline;
}

.schoolName {
	margin: 0 auto;
}
