input {
	width: 100%;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	outline: none;
	padding: 8px;
	font-family: "Poppins", sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

a {
	text-decoration: none;
	color: #5d5fef;
}

button {
	cursor: pointer;
	border-radius: 4px;
	background: #5d5fef;
	color: white;
	outline: none;
	border: none;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	padding: 4px 8px;
}

button.secondary {
	color: #5d5fef;
	border: 2px solid #5d5fef;
	background: white;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.left {
	justify-self: flex-start;
	text-align: left;
}

.flex-column > section {
	width: 100%;
	margin: 8px 0;
}

.flex-row > section {
	height: 100%;
	margin: 0 8px;
}

section.wide {
	margin: 0 24px;
}

.flex {
	flex: 1;
}

strong {
	font-weight: 500;
	font-size: 20px;
}

h2 {
	font-weight: 500;
}

.m32 {
	margin: 32px;
}

.mr8 {
	margin-right: 8px;
}

.relative {
	position: relative;
}

.vertical-scroll {
	overflow-y: scroll;
}

.vertical-scroll::-webkit-scrollbar {
	display: none;
}
